.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subhed{
  max-width: 800px;
  text-align: left;
}

.subhed a{
  color: #bbb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.timeline-button-readMore{
  padding: 10px 10px 11px 10px;
  font-size: 0.9em;
  border-radius: 6px;
  background-color: #7a7a7a;
  color: #ddd;
  text-decoration: none;
  transition: background-color 1s;
}

a.timeline-button-readMore:hover {
  background-color: #6a6a6a;
  text-decoration: none;
}