.App {
  text-align: center;
}


.App-header {
  background-color: #0B403F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subhed{
  text-align: left;
  font-size: 1.5rem;
}

.subhed a{
  color: #bbb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.timeline-button-readMore{
  margin: 5px 0;
  display: inline-block;
  padding: 10px;
  font-size: 0.9em;
  border-radius: 6px;
  background-color: #7a7a7a;
  opacity: 0.7;
  color: #eee;
  text-decoration: none;
  transition: opacity 1s;
}

div.organizerContainer {
  max-width: 900px;
  margin: auto;
}

div.clearfix{
  overflow: auto;
}

div.clearfix:after{
  clear: both;
  content: "";
  display: table;
}

a.timeline-button-readMore:hover {
  opacity: 0.8;
  text-decoration: none;
}

button.categoryFilter--button {
  outline: none;
  font-size: 1.3em;
  margin: 20px;
  padding: 5px;
  color: #777777;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  border: 1px solid rgba(100,100,100,0);
}

button.categoryFilter--button:hover {
  color: #555555;
  border: 1px solid rgba(100,100,100,0.5);
}

button.categoryFilter--button svg {
  margin-right: 10px;
  font-size: 0.9em;
}

button.categoryFilter--button-filter{
  text-align: right;
  display: inline;
  float: right;
}

div.pullQuote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.5em 10px 3em 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

div.pullQuote:before{
  content: "“";
  float:left;
  font-size: 3em;
  display: table;
}

div.pullQuote:after{
  content: "”";
  float: right;
  font-size: 3em;
  display: table;
}

div.pullQuote p.pullQuote--quoteAttr{
  text-align: right;
  clear:both;
}

div.pullQuote p.pullQuote--quoteAttr:before{
  content: "— ";
}

div.pullQuote p.pullQuote--quote{
  padding-top: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
  font-style: italic;
  clear:both;
}

div.filterForm--hide{
  display:none;
}

div.pretty{
  margin-top: 1em;
}

header h1{
  padding-top: 2rem;
}

header p {
  font-size: 1.2rem;
}

@media screen and (max-width: 900px){
  header a.contain-kbia-logo img{

  }

  header h1 {
    margin-top: 100px;
  }

  header p{
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right:  10px;
  }

  header div.credit p{
    margin-bottom: 3rem;
  }
}

div.credit p{
  font-size: 1.1rem;
  opacity: 0.6;
}